Checks:          '*,
                  -fuchsia-default-arguments-calls,
                  -modernize-use-trailing-return-type,
                  -cppcoreguidelines-owning-memory,
                  -abseil-*,
                  -llvmlibc-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false